<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span><ul class="toc-item"><li><span><a href="#Connect-to-MySQL" data-toc-modified-id="Connect-to-MySQL-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Connect to MySQL</a></span></li></ul></li><li><span><a href="#Get-data-into-python" data-toc-modified-id="Get-data-into-python-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get data into python</a></span></li></ul></div>

# Import libraries

In [18]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from getpass import getpass
from sqlalchemy import inspect

import os

## Connect to MySQL

In [5]:
username='root'
password=getpass()

········

In [15]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@localhost/finance1')

In [20]:
inspector=inspect(engine)
inspector.get_table_names()

[]

# Get data into python

In [19]:
os.getcwd() # my current directory - where I am located

'/home/mauritian/Documents/August 2020/week2'

In [21]:
os.chdir('/home/mauritian/Documents/August 2020/finance/') #change directory

In [22]:
os.getcwd() #test if we changed correctly

'/home/mauritian/Documents/August 2020/finance'

In [23]:
os.listdir() #list all the file names in my current directory

['order.asc',
 'client.asc',
 'card.asc',
 'finance.zip',
 'district.asc',
 'trans.asc',
 'disp.asc',
 'account.asc',
 'berka.pdf',
 'loan.asc']

In [25]:
df=pd.read_csv('order.asc', sep=';') #read 'order.csv' file into pandas DataFrame
df.to_sql('order', engine, if_exists='replace', index=False) #push it into sql

In [34]:
for i in os.listdir():                    #loop over all the filenames in my current directory
    if i.endswith('asc'):                 #select only .asc files
        df=pd.read_csv(i, sep=';')        #read them
        df.to_sql(i[:-4], engine, if_exists='replace', index=False)  #push them into sql

/home/mauritian/yes/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
inspector=inspect(engine)  #connect inspector to sql schema
inspector.get_table_names() #check the list of tables out there

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']

In [36]:
pd.read_sql_query('select count(*) from trans', engine) #run the query in mysql and get the output in python

   count(*)
0   1056320