<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Download-audio" data-toc-modified-id="Download-audio-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Download audio</a></span></li><li><span><a href="#Streaming-content" data-toc-modified-id="Streaming-content-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Streaming content</a></span></li><li><span><a href="#Video" data-toc-modified-id="Video-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Video</a></span></li><li><span><a href="#HTML-+-CSS" data-toc-modified-id="HTML-+-CSS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>HTML + CSS</a></span></li></ul></div>

# Download audio

In [4]:
import requests as r

In [2]:
response=r.get('https://freesound.org/data/previews/519/519352_11204368-lq.mp3', stream=True)

In [5]:
with open('new_audio_bcn.mp3', 'wb') as f:
    f.write(response.content)

In [6]:
!pip install pydub

Requirement already satisfied: pydub in /home/mauritian/yes/lib/python3.7/site-packages (0.24.1)

In [7]:
from pydub import AudioSegment
from pydub.playback import play
import io

In [9]:
song=AudioSegment.from_file(io.BytesIO(response.content), format='mp3') #reading the respose.content as audio file
play(song) #play it in Python

# Streaming content

In [10]:
resp=r.get('http://listen.rba.co.rw:8000/;?listening-from-radio-garden=1599638790267', stream=True)

In [13]:
resp=r.get('http://listen.rba.co.rw:8000/;?listening-from-radio-garden=1599638790267', stream=True)

with open('rwanda_radio.mp3', 'wb') as f:
    try:
        for block in resp.iter_content(1024*1024):
            f.write(block)
    except KeyboardInterrupt:
        pass

# Video

In [14]:
url='http://data-sub.datalock.ru/fi2lm/fa8f4e93e3e57b19341f62c21f08ea32/sub/7f_11.22.63.s01e06.BDRip.720p.a1.04.01.17.mp4'

In [15]:
def download_video(url):
    local_filename=url.split('/')[-1]
    with r.get(url, stream=True) as resp:
        resp.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in resp.iter_content(chunk_size=1024*1024*50):
                f.write(chunk)
    return local_filename

In [16]:
download_video(url)

'7f_11.22.63.s01e06.BDRip.720p.a1.04.01.17.mp4'

In [21]:
?resp.iter_content

# HTML + CSS

In [26]:
html=r.get('https://www.reuters.com/article/us-health-coronavirus-usa-food/from-deliveries-in-arizona-to-fish-markets-in-california-coronavirus-changes-how-we-buy-our-food-idUSKBN21Q1AS').content

In [27]:
html[:100]

b'<!--[if !IE]> This has NOT been served from cache <![endif]-->\n<!--[if !IE]> Request served from apa'

In [28]:
import re

In [36]:
re.findall(r'<title>(.*?)<', str(html))[0].strip(r'\n ')

'From deliveries in Arizona to fish markets in California, coronavirus changes how we buy our food - Reuters'

In [5]:
from bs4 import BeautifulSoup

In [38]:
soup=BeautifulSoup(html)

In [46]:
soup.select('title')[0].text

'\n                From deliveries in Arizona to fish markets in California, coronavirus changes how we buy our food - Reuters'

In [49]:
soup.select('h1')[0].text

'From deliveries in Arizona to fish markets in California, coronavirus changes how we buy our food'

In [52]:
list_of_tags=[f'h{i}' for i in range(1,8)]+['p']

In [53]:
list_of_tags

['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'p']

In [58]:
print('\n'.join([i.text for i in soup.find_all(list_of_tags)]))

From deliveries in Arizona to fish markets in California, coronavirus changes how we buy our food
4 Min Read
(Reuters) - Eric Cohn used to wear a respirator mask, goggles and gloves only to protect against mold and asbestos as he restored homes in Tucson, Arizona. Now he dons the same gear in his new job - shopping for quarantined customers.
“People ask me where I get this mask every day,” the 34-year-old said. “They say: you look good! I say I’m not trying to look good. I’m trying to be safe.”
With over 90% of the U.S. population under orders to stay home to slow the spread of the coronavirus, Cohn is among a new class of front-line workers delivering food to people’s houses.
These workers risk their own health every time they touch doors to enter supermarkets and restaurants, or approach homes where someone inside could be sick. But - with a record 10 million Americans filing claims for unemployment benefits in the last two weeks of March - many feel they have little choice if they want to pay their bills.
Cohn said he often feels vulnerable in the supermarket checkout line as other customers get closer to him than the recommended 6 feet (1.8 meters). Once safely back in his car, he disinfects his gloved hands, steering wheel, door handles and phone. He often works 14 hours with a goal of making $200 a day.
“If I didn’t have my own PPE, I don’t know if I would be OK with doing this,” he said, referring to personal protective equipment.
Concerns about staff safety led a family in New York’s Brooklyn neighborhood to decide to close their three restaurants. Last week, Ix (pronounced “eesh”) made its last free deliveries of Guatemalan food to police, firefighters, doctors and nurses.
“This was our baby. It was the dream come true. It’s hard to say goodbye to that,” said Ana Prince, one of the owners of Ix, which opened over three years ago.
“I feel like I want to cry because you never want to see your business closing,” she said. “But everyone is healthy and we don’t want them to get sick. It could get worse. So for the health of everybody, we made the decision (to close), but it wasn’t easy at all,” said Prince.
With restaurants closing and so many people ordering food from their homes, many Americans have found delivery slots at grocery stores evaporating.
Some providers have tried to get around that by going direct to the consumer.
In Lodi, Ohio, farmers have created a website offering weekly deliveries of vegetables, meats, cheeses and other fresh items.
“It’s nice for us using the online order forms,” said Jimmy Myers, 33, one of the owners of Front 9 Farm. “We know that everything we harvest is going to be sold. There’s very little waste... We sell out of eggs within about two hours of loading the order form.”
In California, Jordyn Kastlunger, who fishes commercially with her father Martin Kastlunger, sometimes sells the catches at the Tuna Harbor Dockside Market in San Diego. About 300 people recently lined up to buy fish at the market, standing on tape markers 6 feet apart. Police later asked them to increase the spacing to 12 feet.
“My dad fishes for a variety of things so the only thing that’s really been impacted is crab, since processors don’t have as much bait to give,” Kastlunger said. “We’ve been doing OK. It’s definitely slower and harder.”
Reporting by Cheney Orr in Tucson, Arizona; Bing Gaun in San Diego; Dane Rhys in Akron, Ohio and Anna Watts in New York; Writing by Lisa Shumaker; Editing by Rosalba O'Brien
All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.
© 2020 Reuters. All Rights Reserved.

In [63]:
[i.text for i in soup.find_all('p')]

['4 Min Read',
 '(Reuters) - Eric Cohn used to wear a respirator mask, goggles and gloves only to protect against mold and asbestos as he restored homes in Tucson, Arizona. Now he dons the same gear in his new job - shopping for quarantined customers.  ',
 '“People ask me where I get this mask every day,” the 34-year-old said. “They say: you look good! I say I’m not trying to look good. I’m trying to be safe.” ',
 'With over 90% of the U.S. population under orders to stay home to slow the spread of the coronavirus, Cohn is among a new class of front-line workers delivering food to people’s houses. ',
 'These workers risk their own health every time they touch doors to enter supermarkets and restaurants, or approach homes where someone inside could be sick. But - with a record 10 million Americans filing claims for unemployment benefits in the last two weeks of March - many feel they have little choice if they want to pay their bills. ',
 'Cohn said he often feels vulnerable in the supermarket checkout line as other customers get closer to him than the recommended 6 feet (1.8 meters). Once safely back in his car, he disinfects his gloved hands, steering wheel, door handles and phone. He often works 14 hours with a goal of making $200 a day. ',
 '“If I didn’t have my own PPE, I don’t know if I would be OK with doing this,” he said, referring to personal protective equipment. ',
 'Concerns about staff safety led a family in New York’s Brooklyn neighborhood to decide to close their three restaurants. Last week, Ix (pronounced “eesh”) made its last free deliveries of Guatemalan food to police, firefighters, doctors and nurses.  ',
 '“This was our baby. It was the dream come true. It’s hard to say goodbye to that,” said Ana Prince, one of the owners of Ix, which opened over three years ago.  ',
 '“I feel like I want to cry because you never want to see your business closing,” she said. “But everyone is healthy and we don’t want them to get sick. It could get worse. So for the health of everybody, we made the decision (to close), but it wasn’t easy at all,” said Prince. ',
 'With restaurants closing and so many people ordering food from their homes, many Americans have found delivery slots at grocery stores evaporating. ',
 'Some providers have tried to get around that by going direct to the consumer. ',
 'In Lodi, Ohio, farmers have created a website offering weekly deliveries of vegetables, meats, cheeses and other fresh items. ',
 '“It’s nice for us using the online order forms,” said Jimmy Myers, 33, one of the owners of Front 9 Farm. “We know that everything we harvest is going to be sold. There’s very little waste... We sell out of eggs within about two hours of loading the order form.”  ',
 'In California, Jordyn Kastlunger, who fishes commercially with her father Martin Kastlunger, sometimes sells the catches at the Tuna Harbor Dockside Market in San Diego. About 300 people recently lined up to buy fish at the market, standing on tape markers 6 feet apart. Police later asked them to increase the spacing to 12 feet.  ',
 '“My dad fishes for a variety of things so the only thing that’s really been impacted is crab, since processors don’t have as much bait to give,” Kastlunger said. “We’ve been doing OK. It’s definitely slower and harder.”  ',
 "Reporting by Cheney Orr in Tucson, Arizona; Bing Gaun in San Diego; Dane Rhys in Akron, Ohio and Anna Watts in New York; Writing by Lisa Shumaker; Editing by Rosalba O'Brien",
 'All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.',
 '© 2020 Reuters. All Rights Reserved.']

In [64]:
'\n'.join([i.text for i in soup.find_all('p')])

"4 Min Read\n(Reuters) - Eric Cohn used to wear a respirator mask, goggles and gloves only to protect against mold and asbestos as he restored homes in Tucson, Arizona. Now he dons the same gear in his new job - shopping for quarantined customers.  \n“People ask me where I get this mask every day,” the 34-year-old said. “They say: you look good! I say I’m not trying to look good. I’m trying to be safe.” \nWith over 90% of the U.S. population under orders to stay home to slow the spread of the coronavirus, Cohn is among a new class of front-line workers delivering food to people’s houses. \nThese workers risk their own health every time they touch doors to enter supermarkets and restaurants, or approach homes where someone inside could be sick. But - with a record 10 million Americans filing claims for unemployment benefits in the last two weeks of March - many feel they have little choice if they want to pay their bills. \nCohn said he often feels vulnerable in the supermarket checkout line as other customers get closer to him than the recommended 6 feet (1.8 meters). Once safely back in his car, he disinfects his gloved hands, steering wheel, door handles and phone. He often works 14 hours with a goal of making $200 a day. \n“If I didn’t have my own PPE, I don’t know if I would be OK with doing this,” he said, referring to personal protective equipment. \nConcerns about staff safety led a family in New York’s Brooklyn neighborhood to decide to close their three restaurants. Last week, Ix (pronounced “eesh”) made its last free deliveries of Guatemalan food to police, firefighters, doctors and nurses.  \n“This was our baby. It was the dream come true. It’s hard to say goodbye to that,” said Ana Prince, one of the owners of Ix, which opened over three years ago.  \n“I feel like I want to cry because you never want to see your business closing,” she said. “But everyone is healthy and we don’t want them to get sick. It could get worse. So for the health of everybody, we made the decision (to close), but it wasn’t easy at all,” said Prince. \nWith restaurants closing and so many people ordering food from their homes, many Americans have found delivery slots at grocery stores evaporating. \nSome providers have tried to get around that by going direct to the consumer. \nIn Lodi, Ohio, farmers have created a website offering weekly deliveries of vegetables, meats, cheeses and other fresh items. \n“It’s nice for us using the online order forms,” said Jimmy Myers, 33, one of the owners of Front 9 Farm. “We know that everything we harvest is going to be sold. There’s very little waste... We sell out of eggs within about two hours of loading the order form.”  \nIn California, Jordyn Kastlunger, who fishes commercially with her father Martin Kastlunger, sometimes sells the catches at the Tuna Harbor Dockside Market in San Diego. About 300 people recently lined up to buy fish at the market, standing on tape markers 6 feet apart. Police later asked them to increase the spacing to 12 feet.  \n“My dad fishes for a variety of things so the only thing that’s really been impacted is crab, since processors don’t have as much bait to give,” Kastlunger said. “We’ve been doing OK. It’s definitely slower and harder.”  \nReporting by Cheney Orr in Tucson, Arizona; Bing Gaun in San Diego; Dane Rhys in Akron, Ohio and Anna Watts in New York; Writing by Lisa Shumaker; Editing by Rosalba O'Brien\nAll quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.\n© 2020 Reuters. All Rights Reserved."

In [65]:
print('\n'.join([i.text for i in soup.find_all('p')]))

4 Min Read
(Reuters) - Eric Cohn used to wear a respirator mask, goggles and gloves only to protect against mold and asbestos as he restored homes in Tucson, Arizona. Now he dons the same gear in his new job - shopping for quarantined customers.
“People ask me where I get this mask every day,” the 34-year-old said. “They say: you look good! I say I’m not trying to look good. I’m trying to be safe.”
With over 90% of the U.S. population under orders to stay home to slow the spread of the coronavirus, Cohn is among a new class of front-line workers delivering food to people’s houses.
These workers risk their own health every time they touch doors to enter supermarkets and restaurants, or approach homes where someone inside could be sick. But - with a record 10 million Americans filing claims for unemployment benefits in the last two weeks of March - many feel they have little choice if they want to pay their bills.
Cohn said he often feels vulnerable in the supermarket checkout line as other customers get closer to him than the recommended 6 feet (1.8 meters). Once safely back in his car, he disinfects his gloved hands, steering wheel, door handles and phone. He often works 14 hours with a goal of making $200 a day.
“If I didn’t have my own PPE, I don’t know if I would be OK with doing this,” he said, referring to personal protective equipment.
Concerns about staff safety led a family in New York’s Brooklyn neighborhood to decide to close their three restaurants. Last week, Ix (pronounced “eesh”) made its last free deliveries of Guatemalan food to police, firefighters, doctors and nurses.
“This was our baby. It was the dream come true. It’s hard to say goodbye to that,” said Ana Prince, one of the owners of Ix, which opened over three years ago.
“I feel like I want to cry because you never want to see your business closing,” she said. “But everyone is healthy and we don’t want them to get sick. It could get worse. So for the health of everybody, we made the decision (to close), but it wasn’t easy at all,” said Prince.
With restaurants closing and so many people ordering food from their homes, many Americans have found delivery slots at grocery stores evaporating.
Some providers have tried to get around that by going direct to the consumer.
In Lodi, Ohio, farmers have created a website offering weekly deliveries of vegetables, meats, cheeses and other fresh items.
“It’s nice for us using the online order forms,” said Jimmy Myers, 33, one of the owners of Front 9 Farm. “We know that everything we harvest is going to be sold. There’s very little waste... We sell out of eggs within about two hours of loading the order form.”
In California, Jordyn Kastlunger, who fishes commercially with her father Martin Kastlunger, sometimes sells the catches at the Tuna Harbor Dockside Market in San Diego. About 300 people recently lined up to buy fish at the market, standing on tape markers 6 feet apart. Police later asked them to increase the spacing to 12 feet.
“My dad fishes for a variety of things so the only thing that’s really been impacted is crab, since processors don’t have as much bait to give,” Kastlunger said. “We’ve been doing OK. It’s definitely slower and harder.”
Reporting by Cheney Orr in Tucson, Arizona; Bing Gaun in San Diego; Dane Rhys in Akron, Ohio and Anna Watts in New York; Writing by Lisa Shumaker; Editing by Rosalba O'Brien
All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.
© 2020 Reuters. All Rights Reserved.

In [6]:
url='https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [7]:
html=r.get(url).content

In [8]:
soup=BeautifulSoup(html)

In [9]:
table=soup.select('table.sortable')[0]

In [10]:
rows=table.find_all('tr')

In [13]:
rows[0].text.strip().split('\n')

['Rank', '', 'Country', 'Life expectancy[1]']

In [11]:
import pandas as pd

table=[[cell.strip() for cell in i.text.strip().split('\n') if cell!=''] for i in rows]

pd.DataFrame(table[1:], columns=table[0])

   Rank                 Country Life expectancy[1]
0     1               Monaco[2]               89.4
1     2           San Marino[3]               83.4
2     3             Switzerland               83.0
3     4                   Spain               82.8
4     5           Liechtenstein               82.7
5     6                   Italy               82.7
6     7                  Norway               82.5
7     8                 Iceland               82.5
8     9              Luxembourg               82.3
9    10                  France               82.3
10   11                  Sweden               82.2
11   12                   Malta               81.8
12   13                 Finland               81.8
13   14                 Ireland               81.6
14   15             Netherlands               81.5
15   16                Portugal               81.1
16   17                  Greece               81.0
17   18          United Kingdom               81.0
18   19                 Belgium               81.0
19   20                 Austria               80.9
20   21                Slovenia               80.8
21   22                 Denmark               80.7
22   23                 Germany               80.6
23   24                  Cyprus               80.5
24   25                 Albania               78.3
25   26          Czech Republic               78.3
26   27                 Croatia               78.0
27   28                 Estonia               77.7
28   29                  Poland               77.5
29   30              Montenegro               77.1
30   31  Bosnia and Herzegovina               76.9
31   32                Slovakia               76.6
32   33                  Turkey               75.8
33   34         North Macedonia               75.7
34   35                 Hungary               75.6
35   36                  Serbia               75.2
36   37                 Romania               75.0
37   38                Bulgaria               74.6
38   39                  Latvia               74.5
39   40               Lithuania               74.3
40   41                 Belarus               73.8
41   42              Kazakhstan               72.3
42   43                 Moldova               71.6
43   44                  Russia               71.6
44   45                 Ukraine               71.5

In [93]:
url

'https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [92]:
pd.read_html(url)[0]

    Rank                 Country  Life expectancy[1]
0      1               Monaco[2]                89.4
1      2           San Marino[3]                83.4
2      3             Switzerland                83.0
3      4                   Spain                82.8
4      5           Liechtenstein                82.7
5      6                   Italy                82.7
6      7                  Norway                82.5
7      8                 Iceland                82.5
8      9              Luxembourg                82.3
9     10                  France                82.3
10    11                  Sweden                82.2
11    12                   Malta                81.8
12    13                 Finland                81.8
13    14                 Ireland                81.6
14    15             Netherlands                81.5
15    16                Portugal                81.1
16    17                  Greece                81.0
17    18          United Kingdom                81.0
18    19                 Belgium                81.0
19    20                 Austria                80.9
20    21                Slovenia                80.8
21    22                 Denmark                80.7
22    23                 Germany                80.6
23    24                  Cyprus                80.5
24    25                 Albania                78.3
25    26          Czech Republic                78.3
26    27                 Croatia                78.0
27    28                 Estonia                77.7
28    29                  Poland                77.5
29    30              Montenegro                77.1
30    31  Bosnia and Herzegovina                76.9
31    32                Slovakia                76.6
32    33                  Turkey                75.8
33    34         North Macedonia                75.7
34    35                 Hungary                75.6
35    36                  Serbia                75.2
36    37                 Romania                75.0
37    38                Bulgaria                74.6
38    39                  Latvia                74.5
39    40               Lithuania                74.3
40    41                 Belarus                73.8
41    42              Kazakhstan                72.3
42    43                 Moldova                71.6
43    44                  Russia                71.6
44    45                 Ukraine                71.5

In [94]:
url='https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density'

In [95]:
html=r.get(url).content
soup=BeautifulSoup(html)

In [100]:
table=soup.select('div+p+table.sortable')

In [101]:
len(table)

1

In [102]:
rows=table[0].find_all('tr')

In [103]:
table=[[cell.strip() for cell in i.text.strip().split('\n') if cell!=''] for i in rows]

pd.DataFrame(table[1:], columns=table[0])

ValueError: 7 columns passed, passed data had 9 columns

In [106]:
pd.read_html(url)[1]

     Rank  Country (or dependent territory)     Area           Population  \
     Rank  Country (or dependent territory)      km2      mi2  Population
0       1                        Bangladesh   143998    55598   169260828
1       -                            Taiwan    36197    13976    23604265
2       2                       South Korea   100210    38691    51780579
3       3                            Rwanda    26338    10169    12374397
4       4                       Netherlands    41526    16033    17506331
..    ...                               ...      ...      ...         ...
98     98                        Kazakhstan  2724900  1052090    18232000
99     99                            Canada  9984670  3855103    38163906
100   100                         Australia  7692024  2969907    25659797
101  Rank  Country (or dependent territory)      km2      mi2  Population
102  Rank  Country (or dependent territory)     Area     Area  Population

      Density                         Date           Population source
     pop./km2  pop./mi2               Date           Population source
0        1175      3044  September 7, 2020   Official population clock
1         652      1689   January 31, 2020   Monthly official estimate
2         517      1339       July 1, 2020  Official Annual projection
3         470      1217       July 1, 2019         Official projection
4         422      1092  September 7, 2020   Official population clock
..        ...       ...                ...                         ...
98          7        18        May 1, 2018   Official monthly estimate
99          4        10  September 7, 2020           Official estimate
100         3         9  September 7, 2020           Official estimate
101  pop./km2  pop./mi2               Date           Population source
102   Density   Density               Date           Population source

[103 rows x 9 columns]

In [107]:
url='https://www.vivino.com/chateau-palmer-margaux-grand-cru-classe/w/9220?year=2012&price_id=336422'

In [109]:
r.get(url).content

b"Your IP address (195.134.167.217) has been temporarily blocked for exceeding bulk request limits. If you believe this was done in error or you have legitimate needs to access our pages and data above and beyond these limits please contact admin@vivino.com with the subject 'Requests Blocked' and we'll try and resolve the issue."

In [110]:
headers="""accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
accept-encoding: gzip, deflate, br
accept-language: en-US,en;q=0.9
cache-control: no-cache
cookie: first_time_visit=cHppTlA1VVE5RG8xcTJtR2hqWkdsdz09LS1oVElKc1BXZUxBYnl6MlBaMHQ0dGdRPT0%3D--ea23614aff82d4f50f3eb4f53254fe19960a35ed; __auc=8ffce659174456bdd0f2ec6c9cd; client_cache_key=WlNGeGpsMnhjSG11TCsvQm55Y2ZEK1NSQTdFRURpSVVxelJ3dEZmeFd4TT0tLXppcEk2b2tWc05RNEpveitFQmNtQkE9PQ%3D%3D--c00b1de1e3d67502e99db23819ef0713425ad3a1; __asc=c33a88b717472c1f4f1a7e98cd7; deal_merchant_context=bERvV01ISHBFc2d4MSszT09RMXN4Zz09LS0rOHZWWWx5RnpXYVk2SWhXaC96R01RPT0%3D--e932ebf3d7bb716664ece38cf4f45d8c09c4d847; recently_viewed=Qnk1ZDNyaDljcDBKUjJXblFia1dUczc0eU0xdzE2Q1ZvSStOVnlEeXVqbUI3ZElRWXBpV2svV3QwQjVXOEthazRDc3MxUkpxRG0zM1p6MkRjSDZNMUtYR2hMdnVJRjFpdXF6RXJaeUZETWk2bVBvVzFtcENkMVFQZ2l4d2svRnY2TzlXSEg2STZKampVQkxJbXFGQUxpZmlqZE9TZU5aSW1qVFVqV2hOYzRzN0lmZXU5WmR4M3JhYWw2VjNRN1VTd1pPY3YwVkN5U3VYZjI2ZHIySFRQc25GQXFLVEF3dHk4K3dsR1J0WmVXWTZrV1NkRFRaM0tEOWk0Sk4xT0MxaU1hbUFpSDhzaVU0WTEwOWUzOGZySzJHcDVCalhRMHF6UGtOSVkrVnZTTm5kQXJWV2JZRW16Ri9meVV1ZlRGOUZmUnBPdTlRZHAyNXByMHFENWo3MGc0UGJvK0J5c1NMQURZVmdkR3hpZ29peHlMYXdlWmpCMFRjYjl1elQ3Z0Y3RlJSOHlMbnR3dENTVzh6REdxMTRjRDl0N21wQzUrakdjd21IcFArVXhYRDBXYjArYUtZcHREcityenlGZzlhdjExSTd5WFRUa3hHK2d6Z0wyVFhWQWkyRTAxaTRHak16a2FkTkx2aElaWUpmdlNzanUzQ2tWUnRVSnVPeWdlV0RBRXJUNVRhNHB4UFllUHdlM0QyL0dIY0txdHc1YjhwSjJqV2V4Y2JTU1dwT1NMcjdTVmRvcmI1cTdubTR5UHMxSHVwVFNZcDlkRHlZZGNRVnpWamMyN2xWbWJEWGlxTGVlYVhyODcvMGVaY0p4QXJrekxzYmtRc1VxNkIvaUlDTy0tUHVXTWZjVGN1RGV3T2JtU0FHRytxZz09--18b080db5927ecfac177281b036e664836445e29; _ruby-web_session=ODNiMFlQUUdDeVhwK3RmN1ZZS2lRTlZPUndsR3R5aDlhMkQyaW9YV1VPVUoxMEI2K2hleVJudkNYZG90Z3NuL2ZadDJwOW5jWmY1UlFKL0F5Qm1GU3Jpb1RSYnhoSTVSWGI5WVJ1MVNDdXJYNUtuQkdxV09uZnJwQmRZdWRhSmFmREljemcrR1YvWVNJSCsrc20xVkRMUm9GVENRRkNTZEhMUmx1SFVNZmRGUVh4MzFIZlMzNUpla1g3VC94czZNL1h0VGN3RlIzekxjUm1CbWsvd0ljd2k3WmQ5cllmRi92ZVhxODRxQzhJVWluQm5NQlprQzBWaEpsb04wN1NXc29rVDZ5dzBBZUpmNjFrTTFDRnFHV2c9PS0tVWhvcmdHdSt5cDgrQkphMUUyczBQZz09--62b245014f8a3ff4e0998d627f10240e101ce8b2
pragma: no-cache
sec-fetch-dest: document
sec-fetch-mode: navigate
sec-fetch-site: none
sec-fetch-user: ?1
upgrade-insecure-requests: 1
user-agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.84 Safari/537.36"""

In [114]:
headers=dict(i.split(': ') for i in headers.split('\n'))

In [116]:
response=r.get(url, headers=headers)

In [119]:
soup=BeautifulSoup(response.content)

In [126]:
soup.select('span.vintage')[0].text.strip()

'Margaux (Grand Cru Classé) 2012'

In [132]:
soup.select('div.row.location')

[<div class="row location">
 <div class="mobile-column-6 tablet-column-12 desktop-column-12" id="wine-location-header"></div>
 </div>]

In [139]:
script=soup.select('#vintage-page-app+script')[0].text

In [146]:
script=script.split('window.__PRELOADED_STATE__.vintagePageInformation = ')[-1].split(';\n  window.__PRELOADED_STATE__.merchantId')[0]

In [149]:
import json
script=json.loads(script)

In [151]:
script.keys()

dict_keys(['vintage', 'price', 'highlights', 'merchant', 'shipping_message', 'sold_out', 'available_vintage_year', 'carts', 'prices_and_availability', 'basic_user_vintage', 'price_range', 'is_deal_page'])

In [152]:
script['vintage'].keys()

dict_keys(['id', 'seo_name', 'name', 'statistics', 'organic_certification_id', 'certified_biodynamic', 'image', 'wine', 'description', 'expert_reviews', 'wine_critic_reviews', 'awards', 'ratings_distribution', 'ranking', 'wine_facts', 'winemaker', 'wine_maker', 'grape_composition', 'year', 'grapes', 'has_valid_ratings'])

In [153]:
script['price']

{'id': 336422,
 'vintage_id': 1687137,
 'amount': 256.67,
 'currency': {'code': 'EUR', 'name': 'Euros', 'prefix': '€', 'suffix': None},
 'bottle_type_id': 1,
 'inventory_bottles_count': 1836,
 'url': 'https://www.millesima.fr/chateau-palmer-2012-c-cb-6.html?declinaison=c_cb_6&utm_campaign=generique&utm_content=ready for delivery&utm_medium=pref-cpc&utm_source=vivino-ppc&utm_term=chateau palmer 2012 c cb 6',
 'message': 'Prix par bouteille, caisse de 6 bouteilles - Autres tailles disponibles',
 'producer_address': None,
 'importer_address': None,
 'discounted_from': None,
 'bottle_type': {'id': 1,
  'name': 'Bouteille (75cl)',
  'short_name': 'bouteille',
  'short_name_plural': 'bouteilles',
  'volume_ml': 750}}

In [158]:
script['prices_and_availability']['merchants_with_prices'][-1]

{'merchant': {'id': 1216,
  'name': 'Gourmet Hunters',
  'seo_name': 'gourmet-hunters',
  'legal_name': None,
  'description': 'Mobile-friendly checkout. No minimum order.',
  'country': {'code': 'es',
   'name': 'Espagne',
   'native_name': 'España',
   'seo_name': 'spain',
   'currency': {'code': 'EUR', 'name': 'Euros', 'prefix': '€', 'suffix': None},
   'regions_count': 149,
   'users_count': 1769877,
   'wines_count': 116232,
   'wineries_count': 16608,
   'most_used_grapes': [{'id': 19,
     'name': 'Tempranillo',
     'seo_name': 'tempranillo',
     'has_detailed_info': True,
     'wines_count': 143378},
    {'id': 142,
     'name': 'Garnacha',
     'seo_name': 'garnacha',
     'has_detailed_info': True,
     'wines_count': 47850},
    {'id': 2,
     'name': 'Cabernet Sauvignon',
     'seo_name': 'cabernet-sauvignon',
     'has_detailed_info': True,
     'wines_count': 662792}]},
  'state': None,
  'status': 0,
  'image': None,
  'shipping_estimate': 'Livraison avant le lun., 14 sept.',
  'impressum_url': None,
  'tos_url': None,
  'hidden': False},
 'prices': [{'id': 5361204,
   'vintage_id': 1687137,
   'amount': 310.5,
   'currency': {'code': 'EUR', 'name': 'Euros', 'prefix': '€', 'suffix': None},
   'bottle_type_id': 1,
   'inventory_bottles_count': None,
   'url': 'https://www.gourmethunters.com/en_US/Château Palmer 2012?utm_medium=pref-cpc&utm_source=vivino-ppc',
   'message': '',
   'producer_address': None,
   'importer_address': None,
   'discounted_from': None,
   'bottle_type': {'id': 1,
    'name': 'Bouteille (75cl)',
    'short_name': 'bouteille',
    'short_name_plural': 'bouteilles',
    'volume_ml': 750}}]}