<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Numpy" data-toc-modified-id="Numpy-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Numpy</a></span></li><li><span><a href="#Lambda-functions" data-toc-modified-id="Lambda-functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Lambda functions</a></span><ul class="toc-item"><li><span><a href="#Create-function-that-returns-a-function" data-toc-modified-id="Create-function-that-returns-a-function-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create function that returns a function</a></span></li><li><span><a href="#Lambda-+-list-comprehensions" data-toc-modified-id="Lambda-+-list-comprehensions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Lambda + list comprehensions</a></span></li><li><span><a href="#Another-example" data-toc-modified-id="Another-example-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Another example</a></span></li><li><span><a href="#Pros-and-cons" data-toc-modified-id="Pros-and-cons-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Pros and cons</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Reduce</a></span></li></ul></li><li><span><a href="#MAAM---Map,-Apply,-ApplyMap" data-toc-modified-id="MAAM---Map,-Apply,-ApplyMap-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>MAAM - Map, Apply, ApplyMap</a></span><ul class="toc-item"><li><span><a href="#All-above-+-lambda" data-toc-modified-id="All-above-+-lambda-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>All above + lambda</a></span></li><li><span><a href="#Applymap" data-toc-modified-id="Applymap-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Applymap</a></span></li></ul></li></ul></div>

# Numpy

In [1]:
import numpy as np

In [2]:
a=np.random.random((2,2))

In [3]:
a

array([[0.79095648, 0.64071871],
       [0.64623784, 0.27803754]])

In [4]:
a[0,0]

0.7909564757210724

In [5]:
a[1,0]

0.6462378372495828

In [7]:
a.round(2)

array([[0.79, 0.64],
       [0.65, 0.28]])

In [8]:
a

array([[0.79095648, 0.64071871],
       [0.64623784, 0.27803754]])

In [9]:
a[0]

array([0.79095648, 0.64071871])

In [10]:
a[:,0]

array([0.79095648, 0.64623784])

In [17]:
b=np.random.random((4,3,2))

In [18]:
#three dimensional tensor
b

array([[[0.37551001, 0.44332445],
        [0.71309919, 0.02925933],
        [0.28956118, 0.33961164]],

       [[0.7103583 , 0.06581192],
        [0.883457  , 0.53113925],
        [0.24963492, 0.93275123]],

       [[0.25304886, 0.51298314],
        [0.74658382, 0.02009138],
        [0.83621613, 0.7772342 ]],

       [[0.62698917, 0.09317584],
        [0.65343018, 0.46256921],
        [0.25883577, 0.77272347]]])

In [19]:
b[3]

array([[0.62698917, 0.09317584],
       [0.65343018, 0.46256921],
       [0.25883577, 0.77272347]])

In [20]:
b[3,1]

array([0.65343018, 0.46256921])

In [21]:
b[:,1]

array([[0.71309919, 0.02925933],
       [0.883457  , 0.53113925],
       [0.74658382, 0.02009138],
       [0.65343018, 0.46256921]])

In [22]:
b[:,:,0]

array([[0.37551001, 0.71309919, 0.28956118],
       [0.7103583 , 0.883457  , 0.24963492],
       [0.25304886, 0.74658382, 0.83621613],
       [0.62698917, 0.65343018, 0.25883577]])

# Lambda functions

In [23]:
def square_function(x):
    return x*x

In [24]:
square_function(2)

4

```python
   
lambda argument: statement that you want to return
```

In [26]:
ssquare=lambda x: x*x

In [29]:
ssquare(2)

4

In [31]:
summator=lambda x,y: x+y

In [32]:
summator(2,3)

5

In [33]:
div = lambda x,y: x/y if y!=0 else 0

In [34]:
div(2,3)

0.6666666666666666

In [35]:
div(5,10)

0.5

In [36]:
div(2,0)

0

## Create function that returns a function

In [37]:
def generate_range(lower):
    return lambda upper: range(lower,upper)

In [38]:
range(10)

range(0, 10)

In [39]:
custom_range=generate_range(5)

In [40]:
custom_range(10)

range(5, 10)

In [41]:
custom_range(20)

range(5, 20)

In [42]:
s16=generate_range(-16)

In [43]:
s16(16)

range(-16, 16)

## Lambda + list comprehensions

In [44]:
ssquare=lambda x: x*x

In [45]:
[ssquare(i) for i in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [46]:
topics=['Python','MySQL','Pandas','Web Scraping','Data Viz','Statistics','Machine Learning']

In [48]:
[i.lower().replace(' ','_') for i in topics]

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

In [49]:
[(lambda x: x.lower().replace(' ','_'))(i) for i in topics ]

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

In [54]:
list(map(lambda x: x.lower().replace(' ','_'), topics))

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

In [59]:
list(map(lambda x: x.lower(), topics))

['python',
 'mysql',
 'pandas',
 'web scraping',
 'data viz',
 'statistics',
 'machine learning']

## Another example

In [63]:
dct={i:len(i) for i in topics}

In [66]:
import operator
dict(sorted(dct.items(), key=operator.itemgetter(1), reverse=True))

{'Machine Learning': 16,
 'Web Scraping': 12,
 'Statistics': 10,
 'Data Viz': 8,
 'Python': 6,
 'Pandas': 6,
 'MySQL': 5}

In [67]:
dict(sorted(dct.items(), reverse=True, key=lambda x: x[1]))

{'Machine Learning': 16,
 'Web Scraping': 12,
 'Statistics': 10,
 'Data Viz': 8,
 'Python': 6,
 'Pandas': 6,
 'MySQL': 5}

In [70]:
[(lambda x: x[1])(i) for i in dct.items()]

[6, 5, 6, 12, 8, 10, 16]

In [75]:
[i[1] for i in dct.items()]

[6, 5, 6, 12, 8, 10, 16]

In [79]:
dict(sorted(dct.items(), reverse=True, key=lambda x: x[0][-1]))

{'Data Viz': 8,
 'Pandas': 6,
 'Statistics': 10,
 'Python': 6,
 'Web Scraping': 12,
 'Machine Learning': 16,
 'MySQL': 5}

## Pros and cons

Disadvantages:
1. Not every function can be written as lambda function.
2. Overcomplication in some cases.

Advantages:
1. Concise 
2. Short
3. Return automatically
4. Can be passed without a variable

# Map, Filter, Reduce

## Map

In [83]:
def func(x):
    return x%2==0

In [84]:
l=[10,11,13,17,18]

In [85]:
func(l)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [86]:
[func(i) for i in l]

[True, False, False, False, True]

In [87]:
list(map(func,l))

[True, False, False, False, True]

In [88]:
import pandas as pd
import numpy as np

In [89]:
df=pd.DataFrame([[1,2,3],[2,3,np.nan]])

In [90]:
df

   0  1    2
0  1  2  3.0
1  2  3  NaN

In [92]:
def ff(x):
    return float(x)

In [93]:
df[0].map(ff)

0    1.0
1    2.0
Name: 0, dtype: float64

**IMPORTANT!**
`map()` only works with `pd.Series`

In [94]:
df.map(ff)

AttributeError: 'DataFrame' object has no attribute 'map'

In [96]:
df[1].map(lambda x: x**2)

0    4
1    9
Name: 1, dtype: int64

In [97]:
dct={1:'apple',2:'plum'}

In [98]:
dct

{1: 'apple', 2: 'plum'}

In [99]:
df[0].map(dct)

0    apple
1     plum
Name: 0, dtype: object

In [100]:
df[0]

0    1
1    2
Name: 0, dtype: int64

In [101]:
df[1].map(dct)

0    plum
1     NaN
Name: 1, dtype: object

In [102]:
df[1]

0    2
1    3
Name: 1, dtype: int64

## Filter

In [103]:
list(map(func,l))

[True, False, False, False, True]

In [104]:
l

[10, 11, 13, 17, 18]

In [105]:
list(filter(func,l))

[10, 18]

In [107]:
df.index=['mouse','cat']

In [108]:
df

       0  1    2
mouse  1  2  3.0
cat    2  3  NaN

In [110]:
df.filter(like='ouse', axis=0)

       0  1    2
mouse  1  2  3.0

In [111]:
df.filter(like='ou', axis=0)

       0  1    2
mouse  1  2  3.0

In [112]:
df.filter(like='a', axis=0)

     0  1   2
cat  2  3 NaN

In [113]:
df.loc[df.index.str.contains('ouse')]

       0  1    2
mouse  1  2  3.0

In [114]:
df.filter(items=[0,2],axis=1)

       0    2
mouse  1  3.0
cat    2  NaN

In [115]:
df.filter(items=[0,2])

       0    2
mouse  1  3.0
cat    2  NaN

## Reduce

<img src='https://camo.githubusercontent.com/642b6b863e9ec8a7af3fb34a9a87249fe1612d13/68747470733a2f2f7777772e707974686f6e2d636f757273652e65752f696d616765732f7265647563655f6469616772616d2e706e67'>

In [116]:
def func(a,b): return a+b

In [117]:
from functools import reduce

In [118]:
l

[10, 11, 13, 17, 18]

In [119]:
reduce(func,l)

69

In [120]:
sum(l)

69

In [121]:
#select the biggest number out of 2
def func(a,b):
    return a if a>b else b

In [122]:
reduce(func,l)

18

In [123]:
l=[10, 21, 13, 17, 18]

In [124]:
reduce(func,l)

21

In [125]:
func(10,21)

21

In [126]:
func(21,13)

21

In [127]:
func(21, 17)

21

In [128]:
func(21, 18)

21

In [138]:
# really dumb function just for the sake of another example

def func(a,b):
    if (b%2==0) or ((a+b)>31):
        return a
    else:
        return b

In [139]:
func(10,21)

21

In [140]:
func(21,13)

21

In [141]:
reduce(func,l)

21

In [133]:
l

[10, 21, 13, 17, 18]

# MAAM - Map, Apply, ApplyMap

In [142]:
df=pd.read_csv('https://ironhack.school/asset-v1:IRONHACK+DAFT+201910_PAR+type@asset+block@IMDB-Movie-Data.csv')

In [143]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [144]:
df.shape

(1000, 12)

In [146]:
df.Rating.max()

9.0

In [147]:
df.Rating.min()

1.9

In [148]:
df.Rating/2

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [149]:
df.Rating.map(lambda x: x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [150]:
def column_range(x):
    """x is a pandas series"""
    return x.max()-x.min()

In [151]:
df.Rating.map(column_range)

AttributeError: 'float' object has no attribute 'max'

In [155]:
df[['Rating']].apply(column_range)

Rating    7.1
dtype: float64

In [160]:
df[['Rating','Runtime (Minutes)']].apply(column_range)

Rating                 7.1
Runtime (Minutes)    125.0
dtype: float64

In [156]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [169]:
def column_range(x):
    """x is a pandas series"""
    return x.max()-x.min() if type(x[0]) in (int,float) else len(x)

In [170]:
df.apply(column_range)

Rank                      999.00
Title                    1000.00
Genre                    1000.00
Description              1000.00
Director                 1000.00
Actors                   1000.00
Year                       10.00
Runtime (Minutes)         125.00
Rating                      7.10
Votes                 1791855.00
Revenue (Millions)        936.63
Metascore                  89.00
dtype: float64

* Map  | applies the function provided to every value of Series
* Apply | applies the function provided to every value of Series or to every Serie in DataFrame

In [173]:
df.Rating.apply(lambda x:x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [174]:
df.Rating.map(lambda x:x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [175]:
df.map()

AttributeError: 'DataFrame' object has no attribute 'map'

In [176]:
def missing_col(x):
    return x.isna().sum()

In [177]:
df.apply(missing_col)

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [178]:
df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

## All above + lambda

In [183]:
#all the action movies
df[df['Genre'].str.lower().str.contains('action')].head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0

In [190]:
# I dont want to see action fantasy movies in my selection. 
df[df['Genre'].str.lower().str.contains('action')&(~df['Genre'].str.lower().str.contains('fantasy'))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...
954,955,Death Race,"Action,Sci-Fi,Thriller",Ex-con Jensen Ames is forced by the warden of ...,Paul W.S. Anderson,"Jason Statham, Joan Allen, Tyrese Gibson, Ian ...",2008,105,6.4,173731,36.06,43.0
958,959,3 Days to Kill,"Action,Drama,Thriller",A dying CIA agent trying to reconnect with his...,McG,"Kevin Costner, Hailee Steinfeld, Connie Nielse...",2014,117,6.2,73567,30.69,40.0
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0

I want to have a very specific selection of movies. I am a bit sploiled movie critique and I want to see the following:
1. It should be an Action movie
2. The max number of genres that movie represents is 2
3. I dont like Action Fantasy movies. So I will only accept Action with Thriller or Adventure.

['Action',  
 'Action, Adventure',  
 'Action, Thriller']

In [199]:
df[df.Genre.str.split(',').map(lambda x: len(x)<3)]; # number of genres
df[df['Genre'].str.lower().str.contains('action')]; #contains action

In [200]:
df[df['Genre'].str.lower().str.contains('action')&
   ((df['Genre'].str.lower().str.contains('thriller'))|
    (df['Genre'].str.lower().str.contains('adventure')))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,3 Days to Kill,"Action,Drama,Thriller",A dying CIA agent trying to reconnect with his...,McG,"Kevin Costner, Hailee Steinfeld, Connie Nielse...",2014,117,6.2,73567,30.69,40.0
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0

In [234]:
df[df.Genre.str.lower().str.split(',').map(lambda x: (set(x) - set(['action','thriller','adventure']))==set())] #contains only combinations of action, thriller and adventure

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
164,165,Casino Royale,"Action,Adventure,Thriller","Armed with a licence to kill, Secret Agent Jam...",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",2006,144,8.0,495106,167.01,80.0
169,170,Spectre,"Action,Adventure,Thriller",A cryptic message from Bond's past sends him o...,Sam Mendes,"Daniel Craig, Christoph Waltz, La Seydoux, Ra...",2015,148,6.8,308981,200.07,60.0
233,234,Mission: Impossible - Rogue Nation,"Action,Adventure,Thriller",Ethan and team take on their most impossible m...,Christopher McQuarrie,"Tom Cruise, Rebecca Ferguson, Jeremy Renner, S...",2015,131,7.4,257472,195.00,75.0
270,271,Skyfall,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
282,283,Death Proof,Thriller,Two separate sets of voluptuous women are stal...,Quentin Tarantino,"Kurt Russell, Zo Bell, Rosario Dawson, Vaness...",2007,113,7.1,220236,NaN,NaN
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0
289,290,Iris,Thriller,"Iris, young wife of a businessman, disappears ...",Jalil Lespert,"Romain Duris, Charlotte Le Bon, Jalil Lespert,...",2016,99,6.1,726,NaN,NaN
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
379,380,The Expendables 3,"Action,Adventure,Thriller",Barney augments his team with new blood for a ...,Patrick Hughes,"Sylvester Stallone, Jason Statham, Jet Li, Ant...",2014,126,6.1,137568,39.29,35.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
433,434,Mission: Impossible - Ghost Protocol,"Action,Adventure,Thriller",The IMF is shut down when it's implicated in t...,Brad Bird,"Tom Cruise, Jeremy Renner, Simon Pegg, Paula P...",2011,132,7.4,382459,209.36,73.0
444,445,The Thinning,Thriller,"""The Thinning"" takes place in a post-apocalypt...",Michael J. Gallagher,"Logan Paul, Peyton List, Lia Marie Johnson,Cal...",2016,81,6.0,4531,NaN,31.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
560,561,The Expendables,"Action,Adventure,Thriller",A CIA operative hires a team of mercenaries to...,Sylvester Stallone,"Sylvester Stallone, Jason Statham, Jet Li, Dol...",2010,103,6.5,283282,102.98,45.0
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
698,699,Live Free or Die Hard,"Action,Adventure,Thriller",John McClane and a young hacker join forces to...,Len Wiseman,"Bruce Willis, Justin Long, Timothy Olyphant, M...",2007,128,7.2,347567,134.52,69.0
729,730,The Guest,Thriller,A soldier introduces himself to the Peterson f...,Adam Wingard,"Dan Stevens, Sheila Kelley, Maika Monroe, Joel...",2014,100,6.7,71069,0.32,76.0
746,747,Only for One Night,Thriller,A married womans husband with a perfect life c...,Chris Stokes,"Brian White, Karrueche Tran, Angelique Pereira...",2016,86,4.6,313,NaN,60.0
770,771,Quantum of Solace,"Action,Adventure,Thriller",James Bond descends into mystery as he tries t...,Marc Forster,"Daniel Craig, Olga Kurylenko, Mathieu Amalric,...",2008,106,6.6,347798,168.37,58.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
848,849,Mean Dreams,Thriller,"Follows Casey and Jonas, two teenagers despera...",Nathan Morlando,"Sophie Nlisse, Josh Wiggins, Joe Cobden, Bill...",2016,108,6.3,1066,NaN,64.0
869,870,Mission: Impossible III,"Action,Adventure,Thriller",Agent Ethan Hunt comes into conflict with a da...,J.J. Abrams,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph...",2006,126,6.9,270429,133.38,66.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
911,912,I Am the Pretty Thing That Lives in the House,Thriller,A young nurse takes care of elderly author who...,Oz Perkins,"Ruth Wilson, Paula Prentiss, Lucy Boynton, Bob...",2016,87,4.7,4204,NaN,68.0
916,917,The Expendables 2,"Action,Adventure,Thriller",Mr. Church reunites the Expendables for what s...,Simon West,"Sylvester Stallone, Liam Hemsworth, Randy Cout...",2012,103,6.6,257395,85.02,51.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0
933,934,Detour,Thriller,A young law student blindly enters into a pact...,Christopher Smith,"Tye Sheridan, Emory Cohen, Bel Powley,Stephen ...",2016,97,6.3,2205,NaN,46.0
942,943,Transpecos,Thriller,For three Border Patrol agents working a remot...,Greg Kwedar,"Johnny Simmons, Gabriel Luna, Clifton Collins ...",2016,86,5.8,1292,NaN,73.0
949,950,Kicks,Adventure,Brandon is a 15 year old whose dream is a pair...,Justin Tipping,"Jahking Guillory, Christopher Jordan Wallace,C...",2016,80,6.1,2417,0.15,69.0

In [233]:
df[df.Genre.str.lower().str.split(',').map(lambda x: 
                                           (len(x)<3) & 
                                           ('action' in x)&
                                           ((set(x) - set(['action','thriller','adventure']))==set()))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0

## Applymap

1. Map works with Series only
2. Apply works with both Series and DataFrame
3. Applymap works onl with DataFrame


1. Map works with values in Series
2. Apply works with values in Serie and Series in DataFrame
3. Applymap works with values in DataFrame

Calculate the average number of words in description and name.

In every cell of 2 columns I need :
1. Get words
2. Count them

In [237]:
df_d=df[['Title','Description']]

In [240]:
df_d.Description.str.split().map(len).mean()

27.921

In [241]:
df_d.Title.str.split().map(len).mean()

2.605

In [245]:
df_d.applymap(lambda x: len(x.split())).mean()

Title           2.605
Description    27.921
dtype: float64

In [257]:
df_d[df_d.applymap(lambda x: 'super' in x.lower()).max(axis=1)]

,Title,Description
4,Suicide Squad,A secret government agency recruits some of th...
60,Batman v Superman: Dawn of Justice,Fearing that the actions of Superman are left ...
147,Watchmen,"In 1985 where former superheroes exist, the mu..."
148,Superbad,Two co-dependent high school seniors are force...
179,Ant-Man,Armed with a super-suit with the astonishing a...
195,Captain America: The First Avenger,"Steve Rogers, a rejected military soldier tran..."
205,X: First Class,"In 1962, the United States government enlists ..."
219,Kick-Ass,Dave Lizewski is an unnoticed high school stud...
222,It Follows,A young woman is followed by an unknown supern...
257,Rise of the Planet of the Apes,"A substance, designed to help the brain repair..."
278,Everybody Wants Some!!,"In 1980, a group of college baseball players n..."
373,Wanted,A frustrated office worker learns that he is t...
400,Minions,"Minions Stuart, Kevin and Bob are recruited by..."
438,Kick-Ass 2,"Following Kick-Ass' heroics, other citizens ar..."
497,Super 8,"During the summer of 1979, a group of friends ..."
542,Spectral,A sci-fi/thriller story centered on a special-...
562,Sinister,Washed-up true-crime writer Ellison Oswalt fin...
599,Megamind,The supervillain Megamind finally defeats his ...
603,Kung Fu Panda 3,"Continuing his ""legendary adventures of awesom..."
638,Unfriended,A group of online chat room friends find thems...
675,The Mist,A freak storm unleashes a species of bloodthir...
716,Entourage,"Movie star Vincent Chase, together with his bo..."
737,Body of Lies,A CIA agent on the ground in Jordan hunts down...
742,El secreto de sus ojos,A retired legal counselor writes a novel hopin...
751,Oculus,"A woman tries to exonerate her brother, who wa..."
773,Lady in the Water,Apartment building superintendent Cleveland He...
778,Chalk It Up,When a super girly-girl is dumped by her boyfr...
787,Max Steel,The adventures of teenager Max McGrath and his...
789,Hancock,Hancock is a superhero whose ill considered be...
797,Despicable Me 2,"When Gru, the world's most super-bad turned su..."
818,Annabelle,A couple begins to experience terrifying super...
918,Perfume: The Story of a Murderer,"Jean-Baptiste Grenouille, born with a superior..."
924,Superman Returns,"Superman reappears after a long absence, but i..."
932,The Ticket,A blind man who regains his vision finds himse...
937,Super,After his wife falls under the influence of a ...
995,Secret in Their Eyes,"A tight-knit team of rising investigators, alo..."