<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1-sample-test" data-toc-modified-id="1-sample-test-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1 sample test</a></span></li><li><span><a href="#2-samples-test" data-toc-modified-id="2-samples-test-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2 samples test</a></span><ul class="toc-item"><li><span><a href="#Paired-ttest" data-toc-modified-id="Paired-ttest-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Paired ttest</a></span></li><li><span><a href="#Ttest-for-independant-samples" data-toc-modified-id="Ttest-for-independant-samples-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Ttest for independant samples</a></span></li></ul></li><li><span><a href="#Lab-review" data-toc-modified-id="Lab-review-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lab review</a></span></li></ul></div>

# 1 sample test

In [1]:
import numpy as np
from scipy.stats import ttest_1samp

In [3]:
patients=np.random.normal(6,1.7,100)

Given the sample of 100 patients, test whether the average value of sugar is 5.7.

$H_0 : \mu=5.7$  
$H_1 : \mu \neq 5.7$

In [5]:
test=ttest_1samp(patients, 5.7)
test

Ttest_1sampResult(statistic=3.3805751546761913, pvalue=0.0010363813384526165)

I received 2 parameters:
1. statistic - the value of t observved
2. pvalue - probability of being wrong by rejecting the Null Hypothesis

Given the statistics I can compare it with my t critical based on signifcance level (1.96 for 5% $\alpha$)

In [7]:
test.statistic>1.96

True

Since the value of statistic is above critical, we conclude that Null Hypothesis should be rejected.

At the same time, we can see that pvalue is significantly smaller than 5% ($\alpha$). Therefore by default we can confirm that we reject our $H_0$ even without calculating the critical t statistics

In [8]:
test.pvalue<0.05

True

Now lets see whether the average value of sugar is 7

In [9]:
test=ttest_1samp(patients, 7)
test

Ttest_1sampResult(statistic=-4.363355725186993, pvalue=3.1466957464463284e-05)

In [10]:
patients.mean()

6.267508642478572

In [11]:
import pandas as pd

/home/mauritian/yes/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

# 2 samples test

## Paired ttest

In [12]:
df=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/blood_pressure.csv')

In [13]:
df

        before       after
0   136.713072   92.432965
1   134.735618  105.022643
2   127.529115   82.242766
3   144.527126   93.607172
4   124.214720  103.212223
..         ...         ...
95  120.302824   85.128581
96  134.806478  106.925426
97  144.919839   83.105975
98  139.673854   87.560306
99  138.389444   99.392115

[100 rows x 2 columns]

In [14]:
from scipy.stats import ttest_rel

In [15]:
ttest_rel(df.after, df.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

Since pvalue is <0.05, we reject H0 therefore experiment is successful, we decreased the blood preasure on average

## Ttest for independant samples

In [16]:
df2=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/ab_test.csv')

In [17]:
df2

        a      b
0    0.27  13.61
1    6.08  21.53
2   13.74   9.23
3    9.70   5.36
4    7.00  12.90
5    4.77  10.83
6    2.56  10.70
7    7.24  15.57
8    7.30  10.42
9    0.86  18.90
10   3.10  23.95
11  10.31   5.70
12  17.42  12.65
13  14.03   9.78
14   9.09  12.83
15  13.29  18.61
16  16.55  12.94
17   8.14   5.85
18  13.99  22.92
19  10.99  21.46
20  18.35   3.11
21   3.34  15.52
22  11.27   1.51
23  16.02  24.00
24   9.47  14.07
25  11.62  11.97
26   6.83   2.31
27  11.57   2.66
28  20.90  14.14
29   1.97  22.63
30  15.67  10.95
31  19.08   0.59
32   4.60  15.14
33   8.21  21.97
34   6.29  20.22
35  16.26  11.13
36  13.51  13.74
37   8.63   7.02
38   2.73   9.94
39   9.07   7.99
40   6.56  20.37
41  13.31   6.46
42   4.08  11.66
43   9.07  18.62
44   6.65  19.49
45   3.73   2.02
46   1.01   8.48
47  14.57  12.62
48   5.20  13.22
49  11.77   4.01

In [18]:
from scipy.stats import ttest_ind

In [19]:
ttest_ind(df2.a, df2.b)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

Since pvalue is <0.05, we confirm that there is a difference and since statistic is below 0, we deduce that version a has lower engagement than version b.

In [20]:
ttest_ind(df2.a, df2.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)

# Lab review

In [21]:
df=pd.read_csv('/media/mauritian/New SSD/Documents/GitHub/data-labs/module-2/lab-hypothesis-testing/Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [23]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [24]:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [25]:
df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [26]:
df.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

In [27]:
from scipy.stats import ttest_1samp

In [28]:
ttest_1samp(df.loc[df['Salary or Hourly']=='Hourly', 'Hourly Rate'], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

$H_0: \mu = 86000$  
$H_1: \mu > 86000$

In [34]:
st, pvalue = ttest_1samp(df.loc[(df.Department=='POLICE') & (df['Salary or Hourly']=='Salary'), 'Annual Salary'], 86000)

p_two_sided=0.05
p_one_sided=p_two_sided/2

if p_one_sided> pvalue and st>0:
    print('Alles gut, Chief of Chicago Police force was right')
else:
    print('Bullshitt')

Alles gut, Chief of Chicago Police force was right

In [38]:
ctdf=pd.crosstab(df['Department'], df['Salary or Hourly']).sort_values(by='Hourly', ascending=False)

In [42]:
ctdf.index[0]

'STREETS & SAN'

In [44]:
ctdf.Hourly.idxmax()

'STREETS & SAN'

In [46]:
st, pvalue =ttest_1samp(df.loc[(df.Department==ctdf.Hourly.idxmax()) & (df['Salary or Hourly']=='Hourly'), 'Hourly Rate'], 35)

In [48]:

if p_one_sided> pvalue and st<0:
    print('Alles gut, workers are right')
else:
    print('Bullshitt')

Alles gut, workers are right

In [53]:
hw=df.loc[df['Salary or Hourly']=='Hourly', 'Hourly Rate']

In [62]:
from scipy.stats import t

t.interval(0.95, df=hw.shape[0]-1, loc=hw.mean(), scale=hw.std()/(hw.shape[0])**0.5)

(32.52345834488529, 33.05365708767727)

In [57]:
np.std(hw)

12.111817701093837

In [58]:
hw.std()

12.11257268427681

In [61]:
np.std(hw, ddof=1)

12.11257268427681

In [65]:
pd=df.loc[(df.Department=='POLICE') &(df['Salary or Hourly']=='Salary'), 'Annual Salary']

In [66]:
t.interval(0.95, df=pd.shape[0]-1, loc=pd.mean(), scale=pd.std()/(pd.shape[0])**0.5)

(86177.05631531785, 86795.77269094893)

In [68]:
from statsmodels.stats.proportion import proportions_ztest

In [71]:
proportions_ztest(count=df['Salary or Hourly'].value_counts().Hourly, nobs=df.shape[0], value=0.25)

(-3.5099964213703005, 0.0004481127249057967)

In [72]:
df['Salary or Hourly'].value_counts(normalize=True)

Salary    0.75825
Hourly    0.24175
Name: Salary or Hourly, dtype: float64

In [73]:
from scipy.stats import chi2

In [74]:
?chi2.interval

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.